{% extends 'base.html.twig' %}

{% block title %}New Topic{% endblock %}

{% block body %}
    <h1>Créer un nouveau sujet</h1>

    {{ include('topic/_form.html.twig') }}

    <a href="{{ path('app_topic_index') }}">retour à la liste</a>
{% endblock %}
