{% extends 'base.html.twig' %}

{% block body %}

    <h1>Forum balamini</h1>d
   <p>Salut à tous !
J’ai créé un petit forum pour suivre toute l’actualité du Real Madrid : les matchs, les buteurs, les blessés, et tout ce qu’il faut savoir sur le club. N’hésitez pas à venir jeter un œil, partager vos avis et discuter entre fans ! Hala Madrid !</p>

{% endblock %}