{% extends 'base.html.twig' %}

{% block body %}

    
    {% if app.user %}
        <h1>Bonjour,{{ app.user.userIdentifier }},   hala madrid ! </h1>
    {% else %}
         <h1>Forum de foot</h1> 
         <p> tu peux te connecter et t'inscrire et parler avec nous </p>
    {% endif %}

        

{% endblock %}